.factory {
  &__head {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__head-text {
    margin-bottom: 48px;

    @media screen and (width <=768px) {
      margin-bottom: 32px;
    }
  }

  &__selects {
    display: flex;
    flex-wrap: nowrap;
    // overflow-x: auto;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__selects-list {
    display: flex;
    column-gap: 12px;
    flex: 0 0 auto;

    @media screen and (width <=768px) {
      column-gap: 4px;
    }
  }

  &__list {
    margin-bottom: 64px;
  }

  &__list-item {
    padding-top: 32px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;


    &:not(:last-child) {
      margin-bottom: 48px;
    }

    &:last-child {
      border-bottom: 1px solid #eee;
      padding-bottom: 48px;
    }
  }

  &__list-item-left {
    max-width: 306px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list-item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #333;
    margin-bottom: 12px;
  }

  &__list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(51, 51, 51, 0.6);
    margin-bottom: 41px;
  }

  &__list-item-btns {
    display: flex;
    column-gap: 10px;
    margin-top: auto;
  }

  &__list-item-middle {
    max-width: 464px;
    width: 100%;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(51, 51, 51, 0.6);
    margin-bottom: 80px;
  }

  &__list-item-img {
    max-width: 306px;
  }

  &__application-block {
    background-color: #f4f4f4;
  }

  &__questions {
    padding: 80px 0;

    @media screen and (width <=768px) {
      padding: 60px 0;
    }
  }

  &__questions-title {
    margin-bottom: 50px;

    @media screen and (width <=768px) {
      margin-bottom: 24px;
    }
  }

  &__geograpy {
    padding: 80px 0 120px 0;

    @media screen and (width <=768px) {
      padding: 0 0 60px 0;
    }
  }

  &__geograpy-title {
    margin-bottom: 16px;

    @media screen and (width <=768px) {
      margin-bottom: 24px;
    }
  }

  &__geograpy-text {
    margin-bottom: 24px;
  }

  &__map {
    margin-bottom: 24px;

    @media screen and (width <=768px) {
      height: 260px;
    }
  }

  &__slider-item-link {
    padding: 24px;
    background-color: #19a52b;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 295px;
  }

  &__slider-iten-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }

  &__slider-item-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-top: auto;
  }
}