.accordion {

  &__item {
    padding: 29px 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #a8b8c7;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:last-child {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #a8b8c7;
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    @media screen and (width <=768px) {
      padding: 16px 0;
    }

    @media screen and (width <=576px) {
      padding: 16px 0;
    }

    &.open {
      .accordion__btn {
        margin-bottom: 24px;

        @media screen and (width <=576px) {
          margin-bottom: 16px;
        }
      }

      .accordion__decor {
        background-color: #19a52b;

        svg {
          transform: rotate(180deg);

          path {
            stroke: #fff;
          }
        }
      }

      .accordion__content {
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: margin-bottom 0.3s;

    @media screen and (width <=768px) {
      font-size: 18px;
    }
  }

  &__content {
    font-size: 16px;
    color: #333;
    max-width: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      overflow 0.3s,
      opacity 0.4s,
      max-height 0.3s ease-out;

    a {
      color: var(--accent-color);
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 600;

    @media screen and (width <=768px) {
      text-align: start;
      font-size: 18px;
    }
  }

  &__decor {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 50%;
    transition: all 0.3s;
    flex-shrink: 0;

    svg {
      transition: all 0.3s;
    }
  }
}