.button-transparent {
  border: 1px solid #19a52b;
  border-radius: 8px;
  padding: 14px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06667;
  text-align: center;
  color: #19a52b;
  display: flex;
  align-items: center;
  justify-content: center;
}