.button-green {
  border-radius: 8px;
  padding: 14px 30px;
  background-color: #19a52b;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.06667;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}